/*#header1{
	color: orange;
}

.text{
	background-color: #eee;
}*/
/*.blablabla is for caracteristics of the class*/

/*.header2{
	color: indigo;
}

.importantOne{
	color: red
}

.location{*/
/*	text-align: center;
}*/
/*this is for center the text or image*/
